* { 
	margin: 0; 
	padding: 0;
}
body, html {
	position: fixed;
  font-family: 'Roboto Condensed', sans-serif, Helvetica, Arial;
  font-size: 1em;
  font-weight: lighter;
  height: 100vh;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.has-active-menu {
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #252526; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #fff; 
}

ul {
	list-style: none;
}

h2,
.info,
.helper {
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
}

h2 {
	font-size: 2.0em;
	margin-top: 10px;
	font-weight: normal;
}

.info {
	font-size: 1.2em;
	line-height: 1.5em;
}

#wrapper {
/*	border: 2px solid red;*/
	-webkit-transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
}
#map {
	width: 100vw;
	height: 100vh;
}

#wrapper.has-push-left {
  -webkit-transform: translateX(30vw);
  -ms-transform: translateX(30vw);
  transform: translateX(30vw);
}

input {
		border: none;
}

textarea:focus, input:focus {
    outline: none;
}

input[type="text"] {
	font-size: inherit;
}

.header-nav {
		z-index: 50;
		background-color: #fff;
		position: absolute;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  align-items: center;
	  margin-top: 10px;
	  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
		-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
	  box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
	  height: 50px;
	  width: 320px;
	}

#my-location {
	position: relative;
	margin-right: 20px;
	cursor: pointer;
}

#my-location:before {
	position: absolute;
}

.fa-location-arrow {
	color: #000;
}

@media only screen and (min-device-width: 768px) {
	.header-nav {
		margin-left: 10px;
	}

/*	.header-nav img {
		display: none;
	}*/

	#menu-mobile {
		display: none;
	}

	#hamburger-menu {
		cursor: pointer;
	  position: relative;
		margin-top: -18px;
		margin-left: 20px;
		padding-left: 1.25em;
	}

	#hamburger-menu:before {
	  content: "";
	  position: absolute;
	  top: 0.25em;
	  left: 0;
	  width: 1em;
	  height: 0.125em;
	}

	.disabler:before {
		border-bottom-color: #9e9e9e;
		border-top-color: #9e9e9e;
		border-top: 0.375em double;
	  border-bottom: 0.125em solid;
	}

	#pac-input-mobile,
	.results {
		display: none;
	}

	#pac-input {
		margin-left: 15px;
		width: 100%;
	}

	.menu-slide-bottom,
	.fotorama-wrapper,
	.page-footer,
	.menu-slide-left #close,
	.menu-push-left #close,
	.menu-slide-left #close h3,
	.menu-push-left #close h3,
	.menu-slide-left #close i,
	.menu-push-left #close i {
		display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	}

	.fotorama-wrapper,
	.page-footer,
	.menu-slide-left #close h3,
	.menu-push-left #close h3,
	.menu-slide-left #close i,
	.menu-push-left #close i {
		-ms-flex-direction: column;
	  -webkit-flex-direction: column;
	  flex-direction: column;
	}

	.menu-slide-bottom {
	  width: 100vw;
	  height: auto;
	}

	.fotorama-wrapper {
		width: 65vw;
	}

	.page-footer {
		float: left;
	  width: 35vw;
	}

	.page-footer .container {
		flex: 1 0 auto;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
	.header {
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	}

	.header-nav {
		margin-left: 2.5vw;
		width: 95vw;
	}

	.header-nav i {
		width: 25px;
		margin-top: 7px;
		margin-left: 9px;
	}

	#pac-input-mobile {
		margin-left: 25px;
		width: 100%;
	}

	#pac-input {
		display: none;
	}

	#my-location {
		margin-bottom: 5px;
	}

	#menu-mobile {
		padding: 5px;
		margin-bottom: 5px;
	}

	.results {
	  display: block;
	  position: absolute;
	  top: 60px;
	  left: 0;
	  right: 0;
	  z-index: 10;
	  margin: 0;
	  background-color: #fff;
	  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
		-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
	  box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
	  max-height: 50vh;
	  overflow-x: auto;
	}

	.results .search-items .search-item {
		list-style: none;
		cursor: pointer;
		display: block;
		height: 80px;
		left: 0;
	  right: 0;
		border-bottom: 1px solid #e5e5e5;
	}

	.header-nav h4 {
		display: block;
		font-weight: lighter;
		line-height: 80px;
		margin-left: 35px;
		font-size: 1.2em;
	}

	.results .search-items .search-item:hover {
		background-color: #e5e5e5;
	}

	.menu-slide-bottom {
	  width: 100vw;
	  height: 75vh;
	}

	.fotorama-wrapper {
		width: 100vw;
	}

	.page-footer {
	  width: 100vw;
	}
}
/**
 * Menu overview.
 */
#close {
	height: 90px;
	width: 100%;
	cursor: pointer;
	background-color: #252526;
/*	border: 1px solid red;*/
}

#close h3,
#close i {
	vertical-align: middle;
	justify-content: center;
	text-align: center;
	align-items: center;
}

#close h3 {
	color: #fff;
	font-weight: lighter;
	width: 90%;
}

#close i {
	margin: 0 auto;
	width: 10%;
}

.menu {
  position: fixed;
  z-index: 200;
  background-color: #fff;
  transition: transform 0.3s;
}
.menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.mask.is-active {
	z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.menu-slide-left,
.menu-push-left {
	width: 30vw;
	font-size: 1.2em;
  overflow-y: auto;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-35vw);
  -webkit-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.2);
}

.menu-slide-left .menu-item,
.menu-push-left .menu-item {
  display: block;
  text-align: center;
  cursor: pointer;
}

.menu-slide-left .fa-caret-left,
.menu-push-left .fa-caret-left {
	color: #fff;
	float: right;
}

.menu-slide-left .menu-item h4,
.menu-push-left .menu-item h4 {
	display: block;
	height: 60px;
	font-weight: lighter;
	padding-top: 35px;
}

.menu-slide-left .menu-item:hover,
.menu-push-left .menu-item:hover {
	background-color: #e5e5e5;
}
.menu-slide-left .menu-item:first-child,
.menu-push-left .menu-item:first-child {
  border-top: none;
}

.menu-slide-left .menu-item:last-child,
.menu-push-left .menu-item:last-child {
  border-bottom: none;
}
.menu-slide-left .menu-link,
.menu-push-left .menu-link {
  padding: 12px 24px;
  color: #000;
}
.menu-slide-left.is-active,
.menu-push-left.is-active {
  transform: translateX(0);
}

.page-footer .container {
	margin: 0 auto;
	width: 100%;
}

.menu-slide-bottom #close {
	display: none;
}

#fotorama {
	background-color: #252526;
}

.menu-slide-bottom.is-active {
  transform: translateY(0);
}

.menu-slide-bottom {
	background-color: #252526;
	text-align: center;
	overflow: auto;
  -webkit-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.2);
  transform: translateY(86vh);
  padding: 0;
  left: 0;
  bottom: 0;
  z-index: 1001;
}

.page-footer {
	color: #fff;
  padding-top: 20px;
  padding-left: 0;
  background-color: #252526;
  overflow: hidden;
}

.page-footer .container .row {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  margin-bottom: 15px;
  left: auto;
  right: auto;
}
.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 15px;
  min-height: 1px;
  text-align: left;
}

.page-footer h5 {
	display: block;
	font-weight: lighter;
	font-size: 1.65em;
	margin: 10px 15px 10px 0;
}

#address,
#type,
.contacts,
#infoHeader,
#rating {
	display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#rating,
#infoHeader {
	align-items: center;
}

#rating {
	width: 80px;
	height: 35px;
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.75),0 -1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 4px 8px rgba(0,0,0,0.75),0 -1px 0px rgba(0,0,0,0.02);
	box-shadow: 0 4px 8px rgba(0,0,0,0.75),0 -1px 0px rgba(0,0,0,0.02);
/*	-webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);*/
}

#rating h4 {
	display: block;
	margin: 0 auto;
	font-weight: lighter;
	font-size: 1.65em;
	padding: 2px 5px 2px 10px ;
}

#rating small {
	margin-right: 10px;
	margin-top: 10px;
}
.page-footer i {
	margin: 10px 0 10px 0px;
}

.page-footer p,
.page-footer a {
	color: #8c8c8c;
	display: inline-block;
	margin: 10px 0 0px 10px;
}

.page-footer a:active,
.page-footer a:link,
.page-footer a:visited,
.page-footer a:hover {
	color: #8c8c8c;
	text-decoration: none;
}

.page-footer .footer-copyright {
	bottom: 0;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255,255,255,0.8);
  background-color: rgba(51,51,51,0.85);
}

.page-footer .footer-copyright small{
	margin-left: 10px; 
	color: #707075;
}